// desc: 'Contain all website initial colors for sections and headlines and divs and main inheritance for others'

// Neutral
$White: hsl(0, 0%, 100%);
$Black: #000;

// Accent
$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$LightRed: hsl(0, 100%, 63%);

// Primary
$DarkBlue1: hsl(217, 28%, 15%);     // ==> (intro and email sign up background)
$DarkBlue2: hsl(218, 28%, 13%);     // ==> (main background)
$DarkBlue3: hsl(216, 53%, 9%);      // ==> (footer background)
$DarkBlue4: hsl(219, 30%, 18%);     // ==> (testimonials background)
